 .content {
 	position: relative;
 	width: 100%;
 	z-index: 1;
 	top: 40%;
 	transform: translate(0, -50%);
 	text-align: center;
 	margin: 30px auto;
	margin-top: 80px;
 }
 #title{
 	position: relative;
 	margin: 0 auto;
 	width: 80%;
 	font-family: "Alex Brush",cursive ;
 	font-size: 50px;
 	color: #fff;
 	text-shadow: 0px 0px 10px #fff;
 	margin-top: 70px;
 }
 .timer {
 	font-size: 200%;
 	line-height: 1.5;
 	margin: 1em 0;
 }
 
 .timer b {
 	color: rgb(253, 99, 125);
 	font-weight: bold;
	text-shadow: 0px 0px 10px #fff; 	
 }
 
 .timer span {
 	font-family: "宋体", Courier;
 	font-size: 40px;
 	text-transform: uppercase;
 	color: #fff;
	text-shadow: 0px 0px 10px #fff;
 }